---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
---

<Layout>
  <article>
    <div class="mb-[-20px]">
      <h2>I think she went out</h2>
    </div>
    <small>Ableton Live, Fender Telecaster, NI Guitar Rig, U-he Repro-5</small>
    <p class="mt-5 mb-10">
      This track came about after seeing how far I could take a simple guitar
      line using Guitar Rigs LFOs and sequencers to modulate stuff. I wanted to
      create an evolving, textured sound from a single guitar part, but I ended
      up using Abletons stretching, reversing and pitch shifting on the inital
      guitar recording to create an additional two guitar parts to add some
      extra texture and atmosphere.
    </p>
    <p>
      <iframe
        width="100%"
        height="166"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/793803415&color=%23509469&auto_play=false&show_artwork=false"
      ></iframe>
    </p>
    <div class="pager-left">
      <Link href="/music/scanning-for-elk">&#9666; Scanning for Elk</Link>
    </div>
  </article>
</Layout>
