---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h2>Drawings</h2>
  <p class="mb-10">
    I do drawings. Sometimes I even print them on t-shirts for my kids.
  </p>
  <img src="/drawings.jpg" class="rounded-xl" />
</Layout>
